section .presentation, section .parcours, section .competences{
  width: 100%;
  min-height: 300px;
  padding-bottom:10px;
  margin-bottom: 10px;
}
.sec{
  margin: 0px 10%;
}
.left{
  float:left;
  width: 30%;
}
.right{
  float: left;
  width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
  width: 50%;
  float: left;
}
.sec::after, .exp::after, .reco::after{
  content: "";
  display: table;
  clear: both;
}
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  color:#DE5E60;
}
h2{
  color:#DE5E60;
}
h3{
  color:#FFFFFF;
}
.presentation{
  border-top: 5px solid #2F3238;
  background-color: #2F3238;
  padding-bottom: 50px;
}
.parcours{
  border-top: 5px solid #26292E;
  background-color: #26292E;
  padding-bottom: 50px;
}
.competences{
  border-top: 5px solid #2F3238;
  background-color: #2F3238;
  padding-bottom: 50px;
}
.motiv{
  float:left;
  width: 40%; 
  margin-left: 30%;   
}
.signe{
  color: #7F8289;
  margin-left: 60%;  
    
}
.logotel{
  float: left;
  width: 0%;
  margin-left: 5%;
  margin-top: 0;
}