.menu{
    background: #26292E;
    width: 100%;
    height: 81px;
    line-height: 81px;
    bottom: 0px;
}
.m-left{
    float:left;
}
.logo{
    margin: -27px;padding: 0;
    height: 140px;
}
.m-right{
    float:right;
}
.m-link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;margin: 0 10px;
    transition: all 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
    display: inline-block;
    height: 79px;
}
.active{
  background: #26292E;
  text-decoration: none;
  color: #DE5E60;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;margin: 0 10px;
  transition: all 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
  display: inline-block;
  height: 79px;

}
.m-link:hover{
    border-color: #fff;
}
.m-link i{
    margin-right: 5px;
}
.active i{
  margin-right: 5px;
}
.m-nav-toggle{
    width: 40px;
    height: 81px;
    display: none;
    align-items: center;
    float: right;
    cursor: pointer;
}
span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after{
    content: "";
    display:block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
}
span.m-toggle-icon:before{top: 12px;}
span.m-toggle-icon:after{top:-14px;}

.m-right.is-open{
  transform: translateX(0);
  top: 81px;
}
.m-nav-toggle.is-open span.m-toggle-icon{
  background: transparent;
}
.m-nav-toggle.is-open span.m-toggle-icon:before, .m-nav-toggle.is-open span.m-toggle-icon:after{
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}
.m-nav-toggle.is-open span.m-toggle-icon:before{
transform: rotate(-45deg);
}
@media only screen and (max-width:920px){
    .m-right{
        position: absolute;
        top: 0;right: 0;left: 0;
        width: 100%;
        height: auto;
        background:#26292E;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    .m-link{
        display: block;
        text-align: center;
        padding: 0;margin: 0 20px;
        height: 55px;
        width: 209px;
        margin: auto;
    }
    .active{
      display: block;
      text-align: center;
      padding: 0;margin: 0 20px;
      height: 55px;
      width: 209px;
      margin: auto;
    }
    .m-nav-toggle{
        display: flex;
    }
}
