@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
html,body{
    margin: 0;padding:0;
    font-family: 'lato', serif;
    font-size: 15px;
    color:#7F8289;
    background-color: #2F3238;
}
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #26292E;
}
.footer p{
  color: #DE5E60;
}
.inner{
    width: 80%;
    margin:auto;
}
iframe
{
    width: 50%;
    height: 1250px;
    margin-left: 10%;

}
